.Home {
  height: 100%; }
  .Home .circle-img {
    height: 12em;
    max-width: 16   em;
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%); }
  .Home .top {
    color: white;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; }
    .Home .top .top-container {
      background-color: #4141FC;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 75%; }
      .Home .top .top-container h1 {
        font-size: 4em;
        margin-bottom: 0.3em; }
      .Home .top .top-container h2 {
        margin-top: 0; }
      @media screen and (max-width: 768px) {
        .Home .top .top-container {
          padding-left: 1em;
          padding-right: 1em; } }
  .Home .section {
    background-color: white;
    color: white;
    height: 100%; }
    .Home .section:not(:nth-of-type(2)) {
      margin-top: -50vh; }
    .Home .section:last-of-type {
      clip-path: none !important;
      background-color: #4141FC;
      margin-top: 0; }
    .Home .section:nth-of-type(odd) {
      -webkit-clip-path: polygon(100% 0, -40% 50%, 100% 100%);
      clip-path: polygon(100% 0, -20% 50%, 100% 100%); }
      .Home .section:nth-of-type(odd) .container {
        -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
        clip-path: polygon(100% 5%, -10% 50%, 100% 95%);
        text-align: right;
        padding-right: 2em;
        align-items: flex-end; }
    .Home .section:nth-of-type(even) {
      -webkit-clip-path: polygon(0 0%, 100% 50%, 0 100%);
      clip-path: polygon(0 0%, 120% 50%, 0 100%); }
    .Home .section .container {
      background-color: #4141FC;
      padding-left: 2em;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      -webkit-clip-path: polygon(0 5%, 93% 50%, 0 95%);
      clip-path: polygon(0 5%, 110% 50%, 0 95%); }
      .Home .section .container h1 {
        font-size: 4em;
        margin-bottom: 0.3em; }
      .Home .section .container h2 {
        margin-top: 0; }
