.App {
  height: 100vh;
  padding: 5em; }
  .App .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .App .container .links {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
